<!DOCTYPE html>
<html lang="en">
<head>
    <title>Survey Form</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="static/css/styles.css" />
</head>
<body>
<div class="hero"></div>

<body id="main" class="container">
  <h1 id="title"> Sewing pattern survey </h1>
  <p id="description"> Thank you for letting us know what you would like to see more of! </p>
  <form id="survey-form">
    <label id="name-label">Name</label>
    <input class="form-control" type="text" id="name" required placeholder="name"></input>
    <label id="email-label">Email</label>
    <input class="form-control" type="email" id="email" required placeholder="email"></input>
    <label id="number-label">Age</label>
    <input class="form-control" type="number" id="number" required min="0" max="99" placeholder="age"></input>
    <label id="select">Select what you would like to make</label>
    <select class="form-control" id=dropdown>
      <option value="option 1">Dresses </option>
      <option value="option 2">Pants </option>
      <option value="option 2">Costumes </option>
      <option value="option 2">T-shirts </option>
      <option value="option 2">Other (specify in comments) </option>
    </select>
    <label id="skills">What would you like to learn?
    </label>
    <fieldset>
      <input type="radio" name="choice" value="drafting">Pattern drafting</input>
      <br>
      <input type="radio" name="choice" value="grading">Pattern grading</input>
      <br>
      <input type="radio" name="choice" value="reading">Pattern reading</input>
      <br>
      <input type="radio" name="choice" value="sewing">Sewing patterns</input>
    </fieldset>
    <label id="skills">What skills do you already have?
    </label>
    <fieldset name="reading">
      <input type="checkbox" name="choice" value="drafting">Pattern drafting</input>
      <br>
      <input type="checkbox" name="choice" value="grading">Pattern grading</input>
      <br>
      <input type="checkbox" name="choice" value="reading">Pattern reading</input>
      <br>
      <input type="checkbox" name="choice" value="sewing">Sewing patterns</input>
    </fieldset>
    <label id="comments">Comments</label>
    <textarea class="form-control" id="comment" required placeholder="comment"></textarea>
    <button class="btn" id="submit">Submit</button>
  </form>
</body>
</body>
</html>